[MAIN]
ignore =    CVS,
            .git,
            __pycache__,
            .pytest_cache,
            venv,
            .venv,
            env,
            .env,

[MESSAGES CONTROL]
disable =   logging-fstring-interpolation,
            missing-module-docstring,
            missing-class-docstring,
            missing-function-docstring,
            too-few-public-methods,

[FORMAT]
max-line-length = 120